<!--
  Generated template for the StampPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{stampCard?.title}} スタンプカード</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <div class="format">
        <h1></h1>

        <table class="stamp-card">
            <tbody>
                <tr>
                    <td *ngFor="let stampData of stampCard?.stampDatas; i as index">
                        <ng-container *ngIf="stampData.flg">
                            <p class="maru">{{stampData.registerDate|date:'MM/dd'}}</p>
                        </ng-container>
                        <ng-container *ngIf="!stampData.flg">
                            <p class="batsu">{{stampData.keihinText}}</p>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>

        <div class="format">
            <p>{{stampCard?.text}}</p>
        </div>

        <br>
        <button ion-button outline (click)="stamp()">スタンプ押す！</button>
        <button ion-button color="light" outline (click)="unstamp()">こっそり消す・・・</button>

    </div>

</ion-content>